


:root {
    /*
        General
    */

    --primary-color: rgb(39, 43, 48);
    --secondary-color: rgb(58, 63, 68);
    --text-color: rgb(222, 226, 230 );
    --border-color: var(--text-color);

    --text-font: 2vh;

    /*
       login.css & registration.css variables
    */

    --form-width: 30vw;
    --form-height: 75vh;

    --form-font: var(--text-font);
    --form-button-font: 2.75vh;

    --between-form-element-margin: 3vh;

    --form-field-padding-sides: 10px;
    --form-field-padding-top-bottom: 10px;
    --form-field-border: 1.5px;

    --form-text-margin-sides: 1.55vw;
    --form-text-margin-top: 1vh;

    --form-registration-button-width: calc(var(--form-width) * 0.9);
    --form-registration-button-height: 7vh;

    --form-login-button-width: calc(var(--form-width) * 0.9);
    --form-login-button-height: 7vh;
    
    --form-field-width: calc(var(--form-login-button-width) - 2 * calc(var(--form-field-padding-sides) + var(--form-field-border)));
    --form-field-height: calc(var(--form-login-button-height) - 2 * calc(var(--form-field-padding-top-bottom) + var(--form-field-border)));

    /*
        index.css variables
    */

    --nav-bar-height: 9vh;

    --title-text-font: 3vh;
    --username-display-text-font: 2vh;

    --board-width: 400px;
    --board-height: 300px;
    --between-board-gap: 20px;

    --board-top-buttons-margin-constant: 1.1vh;
    --board-top-buttons-margin: calc(var(--board-top-buttons-margin-constant) + 1vh);
    --board-bottom-buttons-margin: 1vh;

    --popup-width: 40vw;
    --popup-height: calc(var(--popup-field-height) + var(--popup-description-field-height) + var(--popup-button-height) + (2 * var(--popup-padding)) + (3 * var(--between-popup-element-margin)));
    
    --between-popup-element-margin: 1.5vh;
    --popup-padding: 20px;

    --popup-field-padding-top-bottom: 10px;
    --popup-field-padding-sides: 10px;
    --popup-field-border: var(--form-field-border);

    --popup-field-width: calc(var(--popup-width) * 0.8);
    --popup-field-height: 2.22vh;
    --popup-description-field-height: calc(var(--popup-field-height) * 10);
    --popup-button-height: var(--popup-field-true-height);
    --popup-button-width: calc(var(--popup-width) * 0.35);

    --popup-font: var(--form-font);
}